<footer class="footer">

  <a href="./index.html" title="Go to the top" class="footer__arrow">
    <img src="./assets/images/ico-arrow.svg" class="footer__arrow--image" alt="icon scroll up"></a>

  <div class="footer__container">
      <nav>
      <ul>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" >articles</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab">books</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" >events</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab">tips</a></li>
      </ul>
    </nav>
  

     <nav>
      <ul>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab">twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab">instagram</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab">mastodon.social</a>
        </li>
      </ul>
    </nav>
  

</div>

  <small class="footer__copy">
    <p>&copy; 2021</p>
    <p>I &#128147 components</p> 
  </small>
</footer>