<footer class="footer">
  <section class="footer__menu">
    <nav class="footer__menu--nav">
      <ul>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="related__links">articles</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="related__links">books</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="related__links">events</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="related__links">tips</a></li>
      </ul>
    </nav>
  </section>

  <section class="footer__social">
    <nav class="footer__social--nav">
      <ul>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="related__links">twitter</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="related__links">instagram</a></li>
        <li><a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="related__links">mastodon.social</a>
        </li>
      </ul>
    </nav>
  </section>

  <small class="footer__copy">
    &copy; 2021
    <p>we &#128147 components</p> 
  </small>
</footer>