<header class="header">

    <a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="header__menu">
    <img src="./assets/images/ico-menu.svg" class="header__menu--image"></a>

    <div class="header__text">
        <h1 class="header__title">Anonymous proxy</h1>
        <p class="header__subtitle">In hac habitasse platea dictumst.</p>
    </div>

    <a href="./index.html#reasons" title="Reasons to purchase" class="header__row">
    <img src="./assets/images/ico-scroll-down.svg" class="header__row--image"></a>
    
</header>