<header class="hero">
   <div class="hero__burger">
    <a href="https://adalab.es/" target="_blank" title="Go to Adalab" class="hero__menu">
        <img src="./assets/images/ico-menu.svg" class="hero__menu--burger"></a>
    </div>
    <div class="hero__text">
        <h1 class="hero__title">Anonymous proxy</h1>
        <p class="hero__subtitle">In hac habitasse platea dictumst.</p>
        <a href="./index.html#reasons" title="Reasons to purchase" class="hero__row">
            <img src="./assets/images/ico-scroll-down.svg" class="hero__row--image"></a>
    </div>

</header>