<main class="main">
<section class="main__anonymousproxy">
  <h2 class="newh2">Anonymous Proxy</h2>

  <p><a class="trello" href="https://www.trello.com" title="Visit Trello">2 de Agosto</a></p>

</section>
  
  
  
  
  <section class="main__section1">
    <small class="tips">Insomnia tips</small>
    <h2 class="h2">Looking through a window</h2>
    <p class="p">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus.
      Vivamus semper
      sodales rutrum.
    </p>

  <a href="https://media.giphy.com/media/Hnw5zc2BlrXRDzjgzQ/giphy.gif" title="je je"><button class="button">
        go</button></a> 
  </section>

  <section class="main__section2">
    <h2 id="reasons">3 Reasons To Purchase</h2>

    <article class="article">
      <include src="./articles.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consectetur."></include>
    </article>

    <article class="article">
      <include src="./articles.html" title=" Curabitur ac erat" text="Mauris mattis urna quis lorem molestie.">
      </include>
    </article>

    <article class="article">
      <include src="./articles.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></include>
    </article>

    <a href="https://media.giphy.com/media/Hnw5zc2BlrXRDzjgzQ/giphy.gif" title="je je"><button class="button"> more reasons</button></a> 
    
  </section>

</main>