// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;
$size-font-title: 42px;
$size-font-subtitle: 26px;
$size-font-title-text: 24px;
$size-font-body: 20px;
$size-font-little: 16px;
$size-font-extra-little: 14px;
$line-height-title: 55px;
$line-height: 30px;
$bigger-line-height: 45px;

// colors
$color-bright-orange: #f26002;
$color-white: #ffffff;
$color-light-blue: #8ccbea;
$color-cerulean: #0271bc;
$color-dark-grey-blue: #304268;

// mixins
@mixin mixh2() {
  font-family: $font-title;
  font-size: $size-font-title-text;
  line-height: $line-height;
  text-transform: capitalize;
  @media all and (min-width: 768px) {
    line-height: $bigger-line-height;
    font-size: 26px;
  }
  @media all and (min-width: 1280px) {
    line-height: $bigger-line-height;
    font-size: 32px;
  }
}

@mixin mixarrow {
  // margin-left: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-top: 20%;
}

@mixin mixarrowimage {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $color-white;
  padding: 12px 10px;
}
