.article {
  text-align: center;

  .article__title {
    font-family: $font-title;
    line-height: $line-height;
    padding: 2px;

    @media all and (min-width: 768px) {
      font-size: $size-font-title-text;
      padding-bottom: 14px;
    }
  }

  .article__text {
    font-family: $font-main;
    line-height: $line-height;
    width: 10em;

    @media all and (min-width: 768px) {
      font-size: $size-font-body;
    }

    @media all and (min-width: 1280px) {
      width: 16em;
    }
  }
}
