.footer {
  background-color: $color-dark-grey-blue;
  padding: 0px 15px 45px;
  position: relative;

  @media all and (min-width: 768px) {
    padding: 0px 40px 0px;
  }

  &__arrow {
    @include mixarrow();
    transform: translateY(-25px);
  }

  &__arrow--image {
    @include mixarrowimage();
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }

  &__copy {
    color: $color-white;

    p {
      line-height: $line-height;
      font-size: 14px;
      text-align: center;

      @media all and (min-width: 768px) {
        text-align: left;
        transform: translateY(-135px);
      }

      @media all and (min-width: 1280px) {
        padding-left: 400px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    nav {
      margin: 15px;
    }

    nav ul {
      text-align: center;

      @media all and (min-width: 768px) {
        text-align: left;
        width: 180px;
      }

      @media all and (min-width: 1280px) {
        width: 100px;
      }
    }

    nav ul li a {
      text-transform: uppercase;
      color: $color-white;
      font-size: $size-font-little;
      text-decoration: none;
      line-height: $line-height;
    }

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 40%;
    }

    @media all and (min-width: 1280px) {
      margin-left: 50%;
    }
  }
}
