.footer {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  background-color: $color-dark-grey-blue;
  justify-self: center;
  text-align: center;
  padding: 60px 15px 45px 15px;

  &__menu--nav li a {
    text-transform: uppercase;
    font-size: $size-font-little;
    line-height: $line-height;
    color: $color-white;
    text-decoration: none;
  }

  &__social--nav li a {
    text-transform: uppercase;
    font-size: $size-font-little;
    line-height: $line-height;
    color: $color-white;
    text-decoration: none;
  }

  &__copy {
    color: $color-white;
    line-height: $line-height;
  }
}

@media all and (min-width: 768px) {
  .footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &__menu {
    grid-column: 2/3;
  }

  &__social {
    grid-column: 3/4;
  }

  &__copy {
    grid-column: 1/2;
  }
}
