.hero {
  width: 100%;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  /* Para dejar la imagen de fondo centrada, vertical y horizontalmente */
  background-position: center center;
  background-repeat: no-repeat;
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  background-attachment: fixed;
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  background-size: cover;
  /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
  background-color: $color-dark-grey-blue;
  // display: flex;
  // flex-direction: column;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media all and (min-width: 768px) {
    background-position: center unset; //No se corte la torre
  }

  &__menu {
    width: 44px;
    height: 44px;
  }

  &__menu--burger {
    width: 44px;
    height: 44px;
    background-color: $color-cerulean;
    padding: 15px 14px;
    position: fixed;
  }

  &__text {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
    position: absolute;
    top: 50%;

    @media all and (min-width: 768px) {
      top: 30%;
    }
  }

  &__title {
    font-family: $font-title;
    text-transform: uppercase;
    font-size: 2.333rem;
    color: $color-white;
    line-height: $line-height-title;
    word-spacing: 100vw;

    @media all and (min-width: 768px) {
      font-size: 80px;
      line-height: 102px;
    }

    @media all and (min-width: 1280px) {
      font-size: 6.25rem;
      line-height: 1em;
    }
  }

  &__subtitle {
    font-family: $font-main;
    font-size: $size-font-little;
    color: $color-white;
    margin: 10px 15px;

    @media all and (min-width: 768px) {
      font-size: $size-font-title-text;
    }

    @media all and (min-width: 1280px) {
      font-size: 1.5rem;
    }
  }

  &__row {
    @include mixarrow();
  }

  &__row--image {
    @include mixarrowimage();
    margin: 20px;
  }
}
