body {
  font-family: $font-main;
  font-size: 18px;
  background-color: $color-ice-blue;
}

.main {
  &__anonymousproxy {
    display: flex;
    flex-direction: column;
    background-color: $color-bright-orange;
    justify-content: center;
    align-items: center;
    color: $color-white;
    padding: 20px;

    .newh2 {
      @include mixh2();
      padding: 20px;
    }

    .trello {
      text-decoration: none;

      &:visited {
        color: $color-white;
      }
    }

    @media all and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      background-color: $color-dark-grey-blue;

      .newh2 {
        padding: 0;
      }
    }
  }

  &__section1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 45px;
    background-color: $color-white;

    @media all and (min-width: 768px) {
      padding-left: 39px;
      padding-right: 39px;
      padding-top: 30px;
      padding-bottom: 60px;
    }

    @media all and (min-width: 1280px) {
      padding-left: 275px;
      padding-right: 275px;
      padding-top: 60px;
      padding-bottom: 60px;
    }
    //Super size screen
    @media all and (min-width: 1800px) {
      padding: 100px 10%;
    }

    .tips {
      font-family: $font-main;
      font-size: $size-font-extra-little;
      line-height: $line-height;
      color: $color-light-blue;
      text-transform: capitalize;

      @media all and (min-width: 1280px) {
        font-size: $size-font-little;
      }
    }

    .h2 {
      @include mixh2();
    }

    .p {
      font-family: $font-main;
      line-height: $line-height;
      color: #4a4a4a;
      padding-top: 15px;
      padding-bottom: 30px;

      @media all and (min-width: 768px) {
        padding-top: 30px;
        font-size: $size-font-body;
      }
    }
  }
  a {
    .button {
      font-family: $font-main;
      font-size: $size-font-body;
      font-weight: 500;
      line-height: 45px;
      color: $color-bright-orange;
      text-transform: capitalize;
      border-radius: 2em;
      border-width: 2px;
      border-color: $color-bright-orange;
      border-style: solid; /*evitar el degradé del borde*/
      background-color: transparent;
      padding: 1px 25px;
      transition: color ease 2s, background-color ease 2s;

      &:hover {
        color: $color-white;
        background-color: $color-bright-orange;
      }

      @media all and (min-width: 768px) {
        padding: 0 33px;
      }

      @media all and (min-width: 1280px) {
        padding: 0 67px;
      }
    }
  }
  &__section2 {
    background-color: $color-ice-blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 30px 15px 60px;
    row-gap: 45px;

    @media all and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 10% 1fr 20%;
      column-gap: 30px;
      padding: 30px 35px 60px;
    }

    @media all and (min-width: 1280px) {
      padding: 60px 85px 60px;
    }

    //Super size screen
    @media all and (min-width: 1800px) {
      padding: 200px 85px;
      row-gap: 50px;
    }
  }

  #reasons {
    @include mixh2();
    text-align: center;

    @media all and (min-width: 768px) {
      grid-column: span 3;
    }
  }

  a {
    .button {
      // hereda propiedades del btn de arriba
      color: $color-white;
      background-color: $color-bright-orange;

      &:hover {
        color: $color-bright-orange;
        background-color: $color-white;
        border-color: $color-bright-orange;
      }
    }

    @media all and (min-width: 768px) {
      grid-column: span 3;
    }

    @media all and (min-width: 1280px) {
      margin-top: 15px;
    }
  }
}
